.border-slash {
    border: 2px dashed black;
    position: relative;
    padding: 20px;

  }
  
  @media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .row.justify-content-center {
    justify-content: center;
  }
  